<form role="form" action="http://getsimpleform.com/messages?form_api_token=717c21a95ece668ad0204532fce9ad8c" method="post">
  <div class="form-group">
    <input type="email" class="form-control" name="_replyto" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="5" cols="40" name="mailing_address" placeholder="Enter mailing address"></textarea>
  </div>
  <div class="form-group">
  	<input class="form-control" type="text" name="country" placeholder="Enter country">
  </div>
  <div class="form-group">
	 <input class="form-control" type="text" name="phone_or_skype" placeholder="Enter phone or skype address">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="i_agree" placeholder="Type &quot;I AGREE&quot;">
    <p class="help-block">Please type the exact text I AGREE to indicate your agreement.</p>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="5" cols="40" placeholder="Enter Corporate Contributor Information"></textarea></div>
    <p class="help-block">If you are employed as a software engineer, or if your employer is in the business of developing software, or otherwise may claim rights in the Contributions, please provide information about your employer's policy on contributing to open source projects, including the name of the supervisor to contact in connection with such contributions.</p>
  </div>
  <button type="submit" class="btn btn-success btn-lg ">I AGREE</button>
	<input type="hidden" name="_subject" value="CLA Submittion">
  <input type='hidden' name='redirect_to' value='http://www.con-dep.net/contribute/thanks/>' />
</form>