<form action="//forms.brace.io/condep@con-dep.net" method="post">
	<div class="formLayout">
  	<div class="col1">Email *</div><div class="col2"><input type="email" name="_replyto"></div><br>
  	<div class="col1">Name *</div><div class="col2"><input type="text" name="name"></div><br>
  	<div class="col1">Mailing address *</div><div class="col2"><textarea rows="5" cols="40" name="mailing_address"></textarea></div><br>
  	<div class="col1">Country *</div><div class="col2"><input type="text" name="country"></div><br>
  	<div class="col1">Phone or Skype *</div><div class="col2"><input type="text" name="phone_or_skype"></div><br>
  	<div class="col1">Type "I AGREE" *</div><div class="col2"><input type="text" name="i_agree"></div><br>
  	<div class="description">Please type the exact text I AGREE to indicate your agreement.</div><br>
  	<div class="col1">Corporate Contributor Information</div><div class="col2"><textarea rows="5" cols="40"></textarea></div><br>
  	<div class="description">If you are employed as a software engineer, or if your employer is in the business of developing software, or otherwise may claim rights in the Contributions, please provide information about your employer's policy on contributing to open source projects, including the name of the supervisor to contact in connection with such contributions.</div><br>

  	<div class="col1">&nbsp;</div><div class="col2"><input type="submit" value="I Agree"></p>
		<input type="hidden" name="_subject" value="CLA Submittion">
	</div>
</form>