<nav>
  <ul id="main_horizontal">
    <li class="{% if page.overview %}current{% endif %}">
    	<a href="/">Home</a>
    </li>
    <li class="{% if page.author %}current{% endif %}">
    	<a href="/news/">News</a>
    </li>
    <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    	<a href="/docs/5-0/">Documentation</a>
    </li>
    <li class="{% if page.url contains '/contribute/' %}current{% endif %}">
        <a href="/contribute/">Contribute</a>
    </li>
    <li class="{% if page.url contains '/license/' %}current{% endif %}">
        <a href="/license/">License</a>
    </li>
    <li class="{% if page.url contains '/contact/' %}current{% endif %}">
        <a href="/contact/">contact</a>
    </li>
  </ul>

  <div id="main_dropdown"><span>☰</span></div>
</nav>
