@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'special_eliteregular';
  src: url('../fonts/SpecialElite-webfont.eot');
  src: url('../fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SpecialElite-webfont.woff') format('woff'),
       url('../fonts/SpecialElite-webfont.ttf') format('truetype'),
       url('../fonts/SpecialElite-webfont.svg#special_eliteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #232323;
}

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 16px/1.6 "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a6a8a9;
  font-weight: normal;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-family: 'special_eliteregular', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  color: #afad33;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  color: #afad33;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #ffeb9b;
  text-decoration: none;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

blockquote {
  border-left: 3px solid #61c10b;
  margin: 0 0 25px 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #efefef;
  font-size: 13px;
  margin: 0 4px;
  padding: 4px 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 6px;
  background-color: #000;
}

pre {
  padding: 8px 15px;
  background: #2E2E2E;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #454545;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  overflow-y: hidden;
  word-wrap: normal;
}
pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0;
  padding: 0;
  white-space: pre;
}

.options-table pre code {
  white-space: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding-bottom: 20px;
}

thead {
  font-size: 20px;
  color: #e8e8e8;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  vertical-align: top;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

#top {
  z-index: 100;
  top: 0px;
  width: 100%;
  padding-bottom: 1px;
  position: static;
}

#header {
  padding: 10px 10px 0px 10px;
  height: 100%;
  width: 100%;
}

#header h1 {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: right;
  padding-top: 12px;
  padding-right: 40px;
  vertical-align: top;
}

#logo {
  top: 10px;
  padding-left: 20px;
  float: left;
  padding-bottom: 30px;
  width: 300px;
}

#logo img {
  width: 100%;
  height: 100%;
}

#navigation {
  margin-top: 40px;
  width:220px;
  line-height: 22px;
  position: absolute;
  text-align: right;
  font-size: 15px;
  z-index: 100;
  display: block;
  visibility: visible;
}

#navigation li {
  list-style: none;
  margin-bottom: 10px;
  font-variant: small-caps;
  font-size: 13pt;
  line-height: 1;
}

#navigation li.current a:after {
  z-index: 100;
  content: "";
  border-color: transparent #383838 transparent transparent;
  border-style: solid;
  border-width: 16px;
  margin-top: -4px;
  width: 0;
  height: 0;
  position: absolute;
  left: 208px;
}

.avatar { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; vertical-align: middle; }
.post-category, .post-meta { display: inline-block; vertical-align: middle; font-size: .8em; }
.post-category { display: inline-block; margin-left: -40px; padding: 6px 10px 8px; padding-left: 50px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; position: relative; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); background-color: #9e2812; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d)); background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 ); }
.post-category:before { content: ""; position: absolute; top: -10px; left: 0; border-color: transparent #6f0d0d #6f0d0d transparent; border-style: solid; border-width: 5px; width: 0; height: 0; }
.post-content img { max-width: 100%; }
.label { float: left; text-transform: uppercase; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
.post-date, .post-author { margin-left: 10px; }

#navigation ul {
  padding-left: 15px;
  text-align: right;
}

#navigation h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
  text-transform: uppercase;

  border-bottom: 1px solid #4283a9;
  margin-right: -20px;
  margin-bottom: 20px;
  padding-right: 18px;
  display: inline-block;
}

#navigation h4 {
  text-align: right;
  margin: 0px;
  margin-bottom: 10px;
  color: #b6b6b6;
  text-transform: uppercase;
  font-size: 12px;
}

#header nav {
  /* max-width: 650px; */
  margin: 0 auto;
  margin-top: 6px;
  text-align: center;
  padding-top: 15px;
}

#header nav ul {
  margin:0;
  white-space: nowrap;
  display: inline;
  padding-left: 0px;
}

#header nav li {
  margin-right: 5px;
  display: inline;
}

#header nav li a {
  font-family: 'OpenSansRegular', 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #61c10b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 14px;
  padding: 0.5em 1em;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

#header nav li a:hover {
  background-color: #000;
  -webkit-box-shadow:
  inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

#header nav li.current a {
  background-color: #afad33;
  color: #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

section {
  margin: 35px auto 0px auto;
  position: relative;
  background-color: #383838;
  min-height: 200px;
  padding: 20px 30px 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  max-width: 900px;
}

section img {
  max-width: 100%;
  margin: 10px 10px 10px 10px;
  shape-margin: 10px;
}

section.doc {
  margin-left: 240px;
  margin-right: 30px;
  background-color: #383838;
  min-height: 1200px;
  max-width: none;
}

section.doc #disqus_thread {
  padding-top: 50px;
}

section .cla {
  background-color: #454545;
  padding: 20px;
  list-style-type:decimal;
  border-radius: 15px;
  padding-bottom: 50px;
  margin-right: 20px;
  border-bottom: 1px solid #252525;
}

#news article {
  padding-bottom: 30px;
}

.cla ol { font-style:italic; font-size:24px; color:#61c10b;  }
.cla ol li { list-style-type: decimal; }
.cla ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#fff; border-left: 1px solid #999; }

.formLayout
{
  padding-top: 20px;
  padding-left: 40px;
}

.col1 {
  display: block;
  float: left;
  margin-bottom: 10px;
  width: 150px;
  text-align: right;
  padding-right: 20px;
}

.col2 {
  display: block;
  float: left;
  margin-bottom: 10px;
  width: 300px;
}

.formLayout label, .formLayout input, .formLayout textarea
{
    display: block;
    float: left;
    margin-bottom: 10px;
}

.formLayout .description {
  display: block;
  float: left;
  margin-left: 170px;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 300px;
}

.formLayout label {
  width: 150px;
}

.formLayout input, .formLayout textarea {
    width: 300px;
}

.formLayout label
{
    text-align: right;
    padding-right: 20px;
}

br
{
    clear: left;
}

section li a {
  color: #fff;
}

.doc li a {
  color: #afad33;
  font-weight: 400;
  text-decoration: none;
}

section #title {
  border: 0;
  outline: none;
  margin: 0 0 50px 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  color: #d7cfbe;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
section .preliminary {
  color: #d7cfbe;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
}

.doc .version {
  color: #d7cfbe;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 6px;
}

.doc .version_added {
  font-size: 11px;
  margin-top: -8px;
  margin-bottom: 23px;
}

.doc .edit {
  color: #d7cfbe;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  position: absolute;
  right: 70px;
  top: 6px;
}

.doc h2 {
  border-bottom: 1px solid #555;
}

.doc .note h2 {
  border-bottom: none;
}

section #title .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
section #title .credits.left {
  float: left;
}
section #title .credits.right {
  float: right;
}

.section-nav {
  text-align: center; padding-top: 40px; position: relative; background: url(../images/doc-footer.png) top center no-repeat; margin: 40px -20px 10px; }

.section-nav > div { width: 49.5%; }

.section-nav a, .section-nav span { color: #fff; font-size: 16px; text-transform: uppercase; font-weight: 700; padding: 8px 12px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /*border: 1px solid #333;*/ -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5); background-color: #777; }

.section-nav a:hover { color: #fff; background-color: #888; }

.section-nav .next, .section-nav .prev { position: relative; }

.section-nav .next:after, .section-nav .prev:before { font-size: 36px; color: #222; font-weight: 900; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); position: absolute; top: -10px; }

.section-nav .next:after { content: '\203A'; right: 10px; }

.section-nav .prev:before { content: '\2039'; left: 10px; }

.section-nav .prev, .section-nav .prev:hover { /*float: left;*/ padding-left: 30px; }

.section-nav .next, .section-nav .next:hover { /*float: right;*/ padding-right: 30px; }

.section-nav .disabled { opacity: .5; /*filter: alpha*/ cursor: default; }

.clear { display: block; }

.left { float: left; }

.right { float: right; }

.align-right { text-align: right; }

.align-left { text-align: left; }

.visible {
  display: block;
}

.hidden {
  display: none;
}

.img-align-left {
    float: left;
}

.img-align-right {
    float: right;
}

.front-page {
  /*max-width: 800px;*/
  background: inherit;
  /*margin: 35px 30px auto 30px;*/
  margin: 35px auto 0px auto;
  position: relative;
  padding: 20px 30px 30px;
  max-width: 900px;
  /*background-color: #383838;*/

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.front-arch {
  background: #555;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.front-arch-header {

}

.front-page pre {

}

.front-features {
  margin-bottom: 40px;
  padding-bottom: 30px;
  background-color: #383838;
  border-radius: 10px 10px 10px 10px;
  webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.feature {
  /*background-color: #7e6d42;*/
  color: #e8e8e8;
  margin-bottom: 30px;
}

.feature h2 {
  color: #e8e8e8;
  margin-top: 30px;
}

.feature img {
  margin-right: 10px;
  margin-top: -3px;
}

.front-features img {
  margin-right: 10px;
  margin-top: -3px;
}

.front-features h2 {
  margin-top: 30px;
}

.footer {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.footer img {
  margin-right: 15px;
}

.front-page h1 {
/*  letter-spacing: 6px;
  font-weight: 900;
  */
  font-size: 46px;
  color: #afad33;
}

.front-page h1, .front-page p {
    text-align: center;
}

/*.front-page h2 {
  display: inline-block;
  vertical-align: top;
}
*/

.front-page-icon {
  margin: 0px 15px 0px 0px;

}

/* Note types */
.note {
  margin: 30px -40px 30px 0px;
  padding: 20px 20px 24px;
  padding-left: 50px;

  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;

  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);

  background-color: #7e6d42;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5c4e35));
  background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: -moz-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: -o-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
  background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35',GradientType=0 );
}

.front-note {
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #444;
}
.front-note:before { content: ""; position: absolute; top: -10px; left: 0; border-color: transparent #555 #555 transparent; border-style: solid; border-width: 5px; width: 0; height: 0; }
@media (min-width: 768px) { .front-note { margin-left: -40px; } }

/*@media (max-width: 568px) { .note { margin-right: -30px; } }*/
/*@media (min-width: 768px) { .note { margin-left: -40px; } }*/
.note:after { content: ""; position: absolute; top: -10px; right: 0px; border-color: transparent transparent #222 #222; border-style: solid; border-width: 5px; width: 0; height: 0; }

.note h5, .note p { margin: 0; color: #fff; }

.note h5 { line-height: 1.5em; font-weight: 900; font-style: normal; }

.note p { font-weight: 400; font-size: 1.00em; }

.info { background-color: #0389aa; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f)); background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%); background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%); background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%); background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f',GradientType=0 ); }

.warning { background-color: #9e2812; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d)); background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%); background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 ); }

.unreleased { background-color: #cd9239; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkOTIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMjc1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9239), to(#a27528)); background-image: -webkit-linear-gradient(top, #cd9239 0%, #a27528 100%); background-image: -moz-linear-gradient(top, #cd9239 0%, #a27528 100%); background-image: -o-linear-gradient(top, #cd9239 0%, #a27528 100%); background-image: linear-gradient(to bottom, #cd9239 0%, #a27528 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 ); }

.info:after { border-color: transparent transparent #00617f #00617f; }

.warning:after { border-color: transparent transparent #6f0d0d #6f0d0d; }

.unreleased:after { border-color: transparent transparent #664719 #664719; }

.note:before { content: '\2605'; color: #fc0; position: absolute; top: 14px; left: 14px; font-size: 28px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }

.info:before { content: '\24D8'; color: #fff; position: absolute; top: 15px; left: 15px; font-size: 28px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }

.warning:before { content: '\203C'; color: #fc0; position: absolute; top: 15px; left: 15px; font-size: 32px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }

.unreleased:before { content: '\2692'; color: #2b2a12; position: absolute; top: 8px; left: 15px; font-size: 38px; font-weight: 700; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

#main_horizontal {
    display: block;
    visibility: visible;
}

#main_dropdown {
  display: none;
  right: 30px;
  top: 5px;
  position: absolute;
  font-size: 40px;
  color: #61c10b;
  cursor: pointer;
}

#nav_menu {
  display: none;
  left: 0px;
  top: 5px;
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

#nav_menu_text {
  display: inline;
}

@media (max-width: 1050px) {
  #logo {
    width: 200px;
    padding-top: 5px;
    padding-left: 0px;
  }

  #header nav li {
    margin-right: 0px;
  }

  #header nav {
    margin-top: 0px;
  }

}

@media screen and (max-width : 900px) {
  #logo {
    padding-left: 20px;
  }

  #main_horizontal {
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 100;

    background-color: #232323;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  }

  #header nav {
    text-align: left;
  }
  #header nav ul {
    visibility: hidden;
    padding: 0 10px 15px 10px;
  }

  #header nav li {
    margin-right: 10px;
    display: block;
    margin: 15px 0 0 0;
  }

  #header nav li a:hover {
    width: 100%;
  }


  #main_dropdown {
    display: block;
  }

  #nav_menu {
    display: inline;
    left: 28px;
    top: 0px;
    position: absolute;
  }

  #navigation {
    background-color: #232323;
    text-align: left;
    font-size: 18px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    left: 60px;
    right: 45px;
    visibility: hidden;
    display: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  }

  #navigation h3 {
    margin-right: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 10px;

    width: 100%;
  }

  #navigation ul {
    /*padding-left: 15px;*/
    text-align: left;
  }

  #navigation li {
    line-height: 23px;
    display: block;
  }

  #navigation li.current a:after {
    display: none;
  }

  #navigation li.current a {
    pointer-events: none;
    cursor: default;
    color: #a6a8a9;
  }

  #navigation li.current a:before {
    content: "> ";
  }

  section.doc {
    margin-left: 30px;
    padding-top: 80px;
    min-height: 400px;
  }

  section {
    margin: 35px 10px 0px 10px;
  }

  #top {
    padding-bottom: 20px;
  }
}

@media screen and (max-width : 500px) {
  #main_horizontal {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  #nav_menu_text {
    display: none;
  }

  #nav_menu {
    left: 10px;
  }

  section.doc {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 60px;
    min-height: 400px;
  }

  section {
    padding-left: 10px;
    padding-right: 5px;
  }

  #navigation {
    left: 20px;
    right: 20px;
  }
}

/* Portrait */
/*
@media screen and (min-device-width : 320px) and (max-device-width : 568px) {
  #header {
    padding: 0 0 0 0;
  }
  #logo {
    width: 180px;
    padding-top: 5px;
    padding-left: 5px;
  }
  #logo img {
    width: 100%;
    height: 100%;
  }

  #navigation {
    display: none;
  }

  section.doc {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 600px;
    max-width: none;
  }

  #main_horizontal {
    display: none;
  }

  #main_horizontal {
    right: 20px;
  }

  #main_dropdown {
    font-size: 30px;
    right: 20px;
    top: 10px;
  }
*/

/*
  #header nav ul {
    background-color: #fff;
    visibility: hidden;
  }

  #header nav li {
    margin-right: 10px;
    display: block;
  }

  #main_dropdown {
    display: block;
    font-size: 30px;
    right: 20px;
    top: 10px;
  }
*/

/*
  #top {
    padding-bottom: 20px;
  }

  #footer_logo {
    width: 20px;
  }

  #footer_logo img {
    width: 100%;
    height: 100%;
  }
}
/* Landscape */
/*
@media print, screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  #header {
    padding: 0 0 0 0;
  }
  #logo {
    width: 180px;
    padding-top: 5px;
    padding-left: 5px;
  }
  #logo img {
    width: 100%;
    height: 100%;
  }
  #navigation {
    display: none;
  }

  #main_horizontal {
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 100;
  }

  #header nav ul {
    background-color: #fff;
    visibility: hidden;
  }

  #header nav li {
    margin-right: 10px;
    display: block;
  }

}
*/
