{% include top.html %}
  <body>
    {% include header.html %}
    <div id="navigation">
      {% include navigation.html %}
    </div>
    <section class="doc">
      <p class="version">[Version 3.0] <a href="https://github.com/condep/condep.github.io/edit/master/{{ page.relative_path }}">[Edit in GitHub]</a></p>
			{{ page.content }}
      {% include section_nav.html %}
      <div class="clear"></div>
    </section>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% include footer.html %}
  </body>
</html>